.aboutImg{
    width: 100%;
}
.aboutDetailsList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
li{
    line-height: 105px;
    list-style: none;
}
.label{
    color:#e9503e;
    font-weight: 700;
    font-family: 'Yantramanav', sans-serif;
    font-size:16px;
}
.ans{
    color:#e9503e;
    font-weight: 700;
    font-family: 'Yantramanav', sans-serif;
    font-size:30px;
    margin-left: 25px;
}
.secondDiv{
    background-color:#0C1B31;
}
.smallText{
    position: relative;
    left:-350px;
    top:150px;
    text-align:left;
    color:#e9503e;
    font-family: 'Yantramanav', sans-serif;
    font-size:20px;
}
@media only screen and (max-width:600px){
    .ans{
        font-size:25px;
    }
    .font-size-small{
        font-size:17px;
    }
    .display-flex{
        display: flex;
        flex-direction: column-reverse;
    }
    .display-flex-reverse{
        display: flex;
        flex-direction: column-reverse;

    }
    
}